<footer class="pp-foot">
<div class="grid-container">
  <div class="grid-x">
    <!-- 4 -->
    <div class="cell large-4 medium-4">
      <div class="pp-lic">
        <h4 class="lic-head">License</h4>
        <ul class="numbers no-bullet">
          <li><span class="lic">C-17333</span></li>
          <li><span class="lic">C-19203</span></li>
        </ul>
      </div>
    </div>
    <!-- 4 -->
    <div class="cell large-4 medium-4">
      <div class="pp-info">
        <h4 class="pointplumbing">Point Plumbing Inc</h2>
        <span class="number">808-848-8821</span></br>
        <span class="location">Honolulu, HI, 96816</span></br>
        <small class="rights">All Rights Reserved 2018 ©</small>
      </div>
    </div>
    <!-- 4 -->
    <div class="cell large-4 medium-4">
      <div class="subscribe">
        <h4 class="sub">Enjoy Reading?</h4><p class="sub">Subscribe to receive our informative plumbing articles.</p>
        <form action="">
          <div class="form-grid grid-container">
            <div class="grid-x">
              <div class="cell medium-8">
                <label class="sub-text">Subscribe
                <input class="sub-email" type="text" placeholder="enter your email">
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</footer>
