<header class="site-header" role="banner">
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% if page_paths %}
</div>
<nav>
    <div class="top-bar" data-sticky-container data-sticky data-options="stickTo:top;stickyOn:small;marginTop:0;">
      <div class="top-bar-left">
        <!-- LOGO -->
          <a class="site-title" rel="author" href="{{ "/blog.html" | relative_url }}">
            <img class="pplogo" src="http://d3grswip56n2ht.cloudfront.net/icons/nav/pplogo.svg" alt="">
          </a>
      </div>
        <div class="desktop-nav top-bar-right">
          <!-- Desktop Nav -->
          <ul class="horizontal menu">
            <!-- Main Site Links -->
            <li id="blog-home-desk">
              <a class="site-title" rel="author" href="{{ "/blog.html" | relative_url }}">{{ site.title | escape }}</a>
            </li>
            <li><a href="http://point.plumbing">Main</a></li>
            <li><a href="https://point.plumbing/#services">Services</a></li>
            <li><a href="https://point.plumbing/#aboutus">About</a></li>
            <li><a href="https://point.plumbing/#contactpp">Contact</a></li>
          </ul>
        </div>
        <!-- Mobile Nav -->
          <ul class="mobile-nav dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Menu</a>
            <ul class="vertical menu">
              <li>
              <a class="site-title" rel="author" href="{{ "/blog.html" | relative_url }}">{{ site.title | escape }}</a>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              </li>
            </ul>
          </li>
        </ul>
    {% endif %}
  </div>
  <div class="grid-container full">
    <div class="grid-x">
      <div class="intro">
        <div class="cell large-12">
          <h1 class="pp-blog-intro-h1">Point Plumbing's Blog</h1>
          <p class="pp-blog-intro-lead lead">Read through our informative posts about all things plumbing.</p>
        </div>
      </div>
    </div>
  </div>
</header>
