<!-- Social -->
<div class="grid-container full">
  <div class="grid-x">
    <div class="cell large-12 medium-12">
      <div class="social">
        <ul class="social-links vertical medium-horizontal menu">
          <li>
              <a class="face" target="_blank" id="social1" href="https://www.facebook.com/pages/Point-Plumbing/680341328751178" m="1">
              </a>
          </li>
          <li>
              <a class="twitter" target="_blank" id="social2" href="https://twitter.com/Pointplumbing_" m="1">
              </a>
          </li>
          <li>
              <a class="link" target="_blank" id="social3" href="https://www.linkedin.com/pub/point-plumbing/ab/766/708" m="1"></a>
          </li>
          <li>
              <a class="plus" target="_blank" id="social4" href="https://www.google.com/+PointPlumbingHonolulu" m="1"></a>
          </li>

          <li>
            <a class="yelp" id="social5" href="https://www.yelp.com/biz/point-plumbing-honolulu"></a>
          </li>
          <li>
              <a class="angie" target="_blank" id="social6" href="https://www.angieslist.com/companylist/us/hi/haleiwa/point-plumbing-inc-reviews-6506524.html" m="1">
              </a>
          </li>
          </ul>
      </div>
    </div>
  </div>
</div>
