<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="grid-container full">
        <div class="grid-x">
          <div class="cell large-12">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

    <!-- jQuery -->
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <!-- FOUNDATION -->
    <script src="/js/foundation.min.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
